<h1>Your order:</h1>

<table class="table table-striped">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Your Comment</th>
    </tr>
    {{#each orderlist}}
        <tr>
            <td>{{name}}</td>
            <td>{{size}}in</td>
            <td>{{quantity}}</td>
            <td>${{price}}</td>
            <td>{{comment}}</td>
        </tr>
    {{/each}}
</table>
<a href="/cakes">
    <button class="btn btn-info">Back to cakes list</button>
</a>